<%- include('../layouts/header'); %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Profile</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <% if (flashMessage.message) { %>
            <div class="alert alert-success"><%= flashMessage.message %></div>
        <% } %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                    <% if(admin.image && admin.image != ''){ %>
                        <img class="profile-user-img img-fluid img-circle" src="<%= admin.image %>" alt="Admin profile picture">
                    <% } else { %>
                        <img class="profile-user-img img-fluid img-circle" src="../../dist/img/user4-128x128.jpg" alt="Admin profile picture">
                    <% } %>
                </div>

                <h3 class="profile-username text-center"><%= admin.name %></h3>

                <p class="text-muted text-center">Admin</p>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

           
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#editProfile" data-toggle="tab">Edit Profile</a></li>
                  <li class="nav-item"><a class="nav-link" href="#changePassword" data-toggle="tab">Change Password</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  
                  <div class="active tab-pane" id="editProfile">
                    <form class="form-horizontal" method="post" action="/admin/updateProfile" enctype="multipart/form-data" id="updateProfileForm">
                      <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                          <input type="name" class="form-control" id="inputName" placeholder="Name" name="name" value="<%= admin.name %>">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                          <input readonly type="email" class="form-control" id="inputEmail" placeholder="Email" name="email" value="<%= admin.email %>">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputName3" class="col-sm-2 col-form-label">Contact Number</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputName3" placeholder="Phone" name="phone" value="<%= admin.phone %>">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputExperience" class="col-sm-2 col-form-label">Upload Image</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control" id="inputSkills" name="image">
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                          <button type="submit" class="btn btn-danger">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div class="tab-pane" id="changePassword">
                    <form class="form-horizontal" action="/admin/updatePassword" method="post" id="updatePasswordForm">
                      <div class="form-group row">
                        <label for="inputName4" class="col-sm-2 col-form-label">Old Password</label>
                        <div class="col-sm-10">
                          <input type="password" class="form-control" id="inputName4" placeholder="Old Password" name="old_password">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="new_password" class="col-sm-2 col-form-label">New Password</label>
                        <div class="col-sm-10">
                          <input type="password" class="form-control" id="new_password" placeholder="New Password" name="new_password">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputName2" class="col-sm-2 col-form-label">Confirm New Password</label>
                        <div class="col-sm-10">
                          <input type="password" class="form-control" id="inputName2" placeholder="Confirm Password" name="confirm_password">
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                          <button type="submit" class="btn btn-danger">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <%- include('../layouts/footer'); %>

  <script>
    $(document).ready(function () {

        $('#updateProfileForm').validate({ // initialize the plugin
            rules: {
                // email: {
                //     required: true,
                //     email: true
                // },
                name: {
                    required: true
                },
                phone: {
                    required: true
                }
            },
            messages:{
                // email:{
                //     required:"Email is required",
                //     email:"email is not correct"
                // },
                name: {
                    required:"Name is required"
                },
                phone: {
                    required:"Phone is required"
                }
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                // element.closest('.form-group').append(error);
                element.closest('.col-sm-10').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

        $('#updatePasswordForm').validate({ // initialize the plugin
            rules: {
                old_password: {
                    required: true,
                    minlength: 6
                },
                new_password: {
                    required: true,
                    minlength: 6
                },
                confirm_password: {
                    required: true,
                    minlength: 6,
                    equalTo : "#new_password"
                }
            },
            messages:{
              old_password:{
                    required:"Old password is required",
                    minlength:"enter atleast 6 characters"
                },
                new_password: {
                    required:"New password is required",
                    minlength:"enter atleast 6 characters"
                },
                confirm_password: {
                    required:"Confirm password is required",
                    minlength:"enter atleast 6 characters",
                    equalTo:"Confirm password is not matched with New password"
                }
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                // element.closest('.form-group').append(error);
                element.closest('.col-sm-10').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

    });
</script>